body {
  background-color: #011627;
  color:#1287ba;
  height:100%;
}
#root {
  font-family: 'Source Code Pro', monospace;
  padding-top: 10px;
  text-align: center;
  height:100vh;
  color:#1287ba;
  background-color: #011627;
}
.box {
  border-radius: 1px;
  background-color: inherit;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  border: 1px solid #1287ba;
  }

.off {
  background-color: inherit;
}

.on {
  background-color: #28a745;
}

.box:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: grey;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#root h1 {
  font-weight: lighter;
  margin: auto;
  width: 50%;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}
#root button  {
  margin-right: 10px;
}
